# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Windows npm shim files created by local installs (ignore at repo root)
acorn
acorn.cmd
acorn.ps1
autoprefixer
autoprefixer.cmd
autoprefixer.ps1
browserslist
browserslist.cmd
browserslist.ps1
cssesc
cssesc.cmd
cssesc.ps1
esbuild
esbuild.cmd
esbuild.ps1
eslint
eslint.cmd
eslint.ps1
glob
glob.cmd
glob.ps1
jest
jest.cmd
jest.ps1
jiti
jiti.cmd
jiti.ps1
js-yaml
js-yaml.cmd
js-yaml.ps1
jsesc
jsesc.cmd
jsesc.ps1
loose-envify
loose-envify.cmd
loose-envify.ps1
nanoid
nanoid.cmd
nanoid.ps1
node-which
node-which.cmd
node-which.ps1
parser
parser.cmd
parser.ps1
resolve
resolve.cmd
resolve.ps1
rollup
rollup.cmd
rollup.ps1
semver
semver.cmd
semver.ps1
sucrase
sucrase.cmd
sucrase.ps1
sucrase-node
sucrase-node.cmd
sucrase-node.ps1
tailwind
tailwind.cmd
tailwind.ps1
tailwindcss
tailwindcss.cmd
tailwindcss.ps1
tsc
tsc.cmd
tsc.ps1
tsserver
tsserver.cmd
tsserver.ps1
update-browserslist-db
update-browserslist-db.cmd
update-browserslist-db.ps1
vite
vite.cmd
vite.ps1

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env